<h2 style="text-align: center;">My Items</h2>
<app-item-search></app-item-search>

<ul class="items">
  <button (click)="dropdown.show = !dropdown.show" [style.background-color]="dropdown.show === true ? '#aaa' : '#eee'">Sort By</button>
  <button (click)="showItemForm()" *ngIf="authService.isAdmin()">Create Item</button>
  <div *ngIf="dropdown.show">
    <button *ngFor="let option of dropdown.options" [style.background-color]="dropdown.selected === option ? '#aaa' : '#eee'" (click)="sortBy(option, dropdown.descending); dropdown.selected = option">{{option}}</button>
    <button (click)="dropdown.descending = !dropdown.descending; sortBy(dropdown.selected, dropdown.descending);">{{dropdown.descending ? "Descending" : "Ascending"}}</button>
  </div>
  <li *ngFor="let item of items" style="display: inline-flex">
      <a routerLink="/detail-item/{{item.id}}">
        <span class="badge">{{item.id}}</span> {{item.name}}
      </a>
      <button *ngIf="authService.isAdmin()" class="delete" title="delete item" (click)="delete(item)">x</button>
      <span *ngIf="this.hero != null  && canBuy(item)" class="buyButton" (click)="buyItem(item)">Buy</span>
  </li>
</ul>
