button {
    margin-right: 10px;
    margin-top: 5px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.clear {
  color: #333;
  margin-bottom: 12px;
}

mat-icon{
  margin-left: 5px
}

mat-icon:hover{
  background-color: #cfd8dc;
  border-radius: 5px;
}

mat-panel-description{
  position: absolute;
  right: 0px
}

mat-expansion-panel{
  background-color: #EEE;
}