<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" autocomplete="off" required>
    <mat-error *ngIf="this.name.errors != null">{{getErrorMessage(name)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" [formControl]="password" autocomplete="off" required>
    <mat-error *ngIf="this.password.errors != null">{{getErrorMessage(password)}}</mat-error>
  </mat-form-field>
  <mat-error *ngIf="this.data.incorrect">Incorrect username or password!</mat-error>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" [disabled]="!isValid()" (click)="submit()">Login</button>
</div>