<button (click)="goBack()">go back</button>
<div *ngIf="hero" style="background-color: #EEE; padding: 8px; padding-top: 0px; border-radius: 4px; margin: 5px;">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label class="text">name:
        <input [(ngModel)]="hero.name" placeholder="name" style="width: 93%; padding-right: 6.4px;"/>
      </label>
    </div>
    <div>
      <label class="text">money:
        <input [(ngModel)]="hero.money" placeholder="money" style="width: 93%; padding-right: 6.4px;"/>
      </label>
    </div>
    <div>
      <label class="text">life:
        <input [(ngModel)]="hero.life" placeholder="life" style="width: 93%; padding-right: 6.4px;"/>
      </label>
    </div>
    <div>
      <label class="text">strength:
        <input [(ngModel)]="hero.strength" placeholder="strength" style="width: 93%; padding-right: 6.4px;"/>
      </label>
    </div>
    <div *ngIf="hero.items.length > 0" style="margin: 0px 0px 5px;" class="text">Owned Items:
      <div *ngFor="let item of hero.items" style="margin-left: 15px; color: #333">{{ item.name }}</div>
    </div>
    <button (click)="save()" class="buyButton">Save</button>
    <button (click)="goToStore()" routerLink="/items/{{ hero.id }}" class="buyButton">Buy Item</button>
    
  </div>