<button (click)="goBack()">go back</button>
<div *ngIf="hero" style="background-color: #EEE; padding: 8px; padding-top: 0px; border-radius: 4px; margin: 5px;">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="hero.name" placeholder="name" style="width: 93%; padding-right: 6.4px;"/>
      </label>
    </div>
    <button (click)="goToStore()" routerLink="/items/{{ hero.id }}" class="buyButton">Buy Item</button>
  </div>