<button (click)="goBack()">go back</button>
<div *ngIf="item" class="item">
    <h2>{{item.name | uppercase}} Details</h2>
    <div><span>id: </span>{{item.id}}</div>
    <div>
        <label>name:<input [(ngModel)]="item.name" placeholder="name" style="width: 90%; padding-right: 6.4px;"/></label>
    </div>
    <div>
        <label>price:<input [(ngModel)]="item.price" placeholder="price" style="width: 90%; padding-right: 6.4px;"/></label>
    </div>
    <button (click)="save()" class="buyButton">Save</button>
</div>