<h1 mat-dialog-title>Create Hero</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [formControl]="heroForm.get('name')" autocomplete="off" required maxlength="20">
    <mat-error *ngIf="heroForm.get('name').errors != null">{{getErrorMessage(heroForm.get('name'))}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Money</mat-label>
    <input matInput [formControl]="heroForm.get('money')" autocomplete="off" required>
    <mat-error *ngIf="heroForm.get('money').errors != null">{{getErrorMessage(heroForm.get('money'))}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Life</mat-label>
    <input matInput [formControl]="heroForm.get('life')" autocomplete="off" required>
    <mat-error *ngIf="heroForm.get('life').errors != null">{{getErrorMessage(heroForm.get('life'))}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Strength</mat-label>
    <input matInput [formControl]="heroForm.get('strength')" autocomplete="off" required>
    <mat-error *ngIf="heroForm.get('strength').errors != null">{{getErrorMessage(heroForm.get('strength'))}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="this.dialogRef.close();">Cancel</button>
  <button mat-stroked-button color="primary" [disabled]="!isValid()" (click)="submit()">Create Hero</button>
</div>