<h1 mat-dialog-title>Create Hero</h1>
<div mat-dialog-content>
  <p>Name</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" autocomplete="off" required> 
  </mat-form-field>
  <mat-form-field>
    <mat-label>Money</mat-label>
    <input matInput [(ngModel)]="data.money" autocomplete="off" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Life</mat-label>
    <input matInput [(ngModel)]="data.life" autocomplete="off" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Strength</mat-label>
    <input matInput [(ngModel)]="data.strength" autocomplete="off" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="this.dialogRef.close();">Cancel</button>
  <button mat-raised-button [disabled]="" (click)="this.dialogRef.close(data);">Create Hero</button>
</div>