<div class="center">
  <div style="text-align: center;">
    <h1>{{title}}</h1>
    <nav>
      <a routerLink="/heroes">Heroes</a>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/items/list">Items</a>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
<app-messages style="position: absolute;"></app-messages>
<div>

<div style="position: absolute; right: 10px; top: 10px;">
  <div style="font-size: 25px; display: inline-block; margin-right: 15px;">{{authService.getName()}}</div>
  <button mat-fab color="primary" (click)="authService.showLoginForm(false)">
    <mat-icon>perm_identity</mat-icon>
  </button>
</div>